<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand_on_ur10e">

  <!-- Make use of Mia Hand on UR macro -->
  <xacro:include filename="$(find artificial_hands_description)/urdf/mia_hand_on_ur.urdf.xacro"/>

  <xacro:mia_hand_on_ur
      prefix=""
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      transmission_hw_interface="$(arg transmission_hw_interface)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
    />

  <!-- Arm base -->
  <xacro:include filename="$(find artificial_hands_description)/urdf/arm_base.urdf.xacro" />
  
  <!-- Attach arm to the arm base -->
  <joint name="robot_fix" type="fixed">
    <parent link="arm_base"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.6" rpy="0 0 0"/>
  </joint>

</robot>