<?xml version="1.0"?>
<launch>

  <arg name="sim" default="false" />
  <arg name="robot_ip" default="127.0.0.1" doc="specify robot IP address"/>
  <arg name="ur_robot" default="ur10e" doc="choose robot type: ur5, ur10e" />
  <arg name="Mia_COM" default='0' doc="Int number of the Mia hand COM port" />
  <arg name="Mia_fs" default='20' doc="Hz, frequency of the control loop of the Mia Hw interface" />
  <arg name="Mia_hw_sim" default="false" doc="set to true to simulate mia hand hardware interface (requires to emulate a serial port)" />

  <!-- Check robot type (simulated or real) and prepare the right kinematics_config -->
  <arg name="ur_sim" value="$(eval robot_ip == '127.0.0.1')" />
  <arg if="$(eval ur_sim and (ur_robot == 'ur10e'))" name="kinematics_config" value="192.168.1.100"/>
  <arg if="$(eval ur_sim and (ur_robot == 'ur5'))" name="kinematics_config" value="192.168.1.50"/>
  <arg if="$(eval not ur_sim)" name="kinematics_config" value="$(arg robot_ip)" doc="specify robot calibration IP address"/>
  <param name="kinematics_config" value="$(arg kinematics_config)" />

  <group if="$(arg sim)">

    <!-- Make use of UR robot bringup from ur_gazebo-->
    <include file="$(find ur_gazebo)/launch/$(arg ur_robot)_bringup.launch" >
      <arg name="robot_description_file" value="$(find artificial_hands_description)/launch/inc/load_mia_hand_on_$(arg ur_robot).launch.xml" />
      <arg name="stopped_controllers" value="joint_group_pos_controller" />
      <arg name="kinematics_params" value="$(find artificial_hands_description)/config/kinematics_config_$(arg kinematics_config).yaml" />
    </include>

    <!-- Load Mia hand controllers to parameter server -->
    <rosparam file="$(find mia_hand_gazebo)/config/mia_hand_trajectory_controllers.yaml" command="load"/>
    <rosparam file="$(find mia_hand_gazebo)/config/gazebo_pid_thumb_opp.yaml" command="load"/>
    <rosparam file="$(find mia_hand_ros_control)/config/mia_hand_hw_controllers.yaml" command="load"/>

    <!-- Spawn Mia hand controllers -->
    <node name="mia_hand_trajectory_ctrl_spawner" pkg="controller_manager" type="spawner" output="screen" args="mia_hand_vel_trajectory_controller" />

    <!-- Spawn Mia hand stopped controllers -->
    <node name="mia_hand_stopped_ctrl_spawner" pkg="controller_manager" type="spawner" output="screen" args="--stopped mia_hand_joint_group_vel_controller" />

  </group>

  <!-- Load gui -->
  <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" />

</launch>